
:root{
  background: #FBEBDB;
}
#inicioDiv{
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background: #FBEBDB;
}
#divInicioDeSesion{
  top: -30px;
  position: relative;
  width: 250px;
  height: 350px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: #eadaf3;
  margin: 20px;
  padding: 11px 8px;
  border-radius: 10px;
  align-items: center;
}  

img{
  display: block;
  margin: auto;
  width: 204px;  
  }
.marca{
  font-family: Forum;
  
  justify-content: center;
  color: #000000;

}
#slogan{
  font-family: Forum;
  color: #000000;
}
#correo-electronico{
font-family: Forum;
background-color:rgb(255, 255, 255);
height: 200px;
margin: 5px;
border-radius: 5px;
border-color: bisque;
}

#contraseña{
font-family: Forum;
background-color:rgb(255, 255, 255);
height: 200px;
margin: 5px;
border-radius: 5px;
border-color: bisque;
  }

#boton-ingresar{
  font-family: Forum;
  position:relative;
  align-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  margin: 10px;
  cursor: pointer;
  width: 108px;
  height: 22px;
  color: rgb(88, 88, 88);
  background-color: #e09dff;
  border-radius: 5px;
  border-color: bisque;
  box-shadow: 1px 2px rgb(88, 88, 88);
  }
  .registro{
   text-decoration-line: underline;
   color: #329B88;
   border-radius: 3px;
   padding: 0px;
   font-family: Forum;
   cursor: pointer;
  }
p.letra-o p.texto-no-cuenta{
  font-family: Forum;
  color: black;
  font-size: medium;
  text-align:center;
}

#inicio-sesion{
font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 22px;
color: #000000;
}
.texto-no-cuenta{
font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: #000000;

}
.letra-o{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
} ////////
#homeDiv{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FBEBDB; 
}

#marcaMuro{
  color:#000000;
  position: relative;
  justify-content: center;
  
}
.publicar{
  font-family: Forum;
  background-color: #ffffff;
  height: 30px;
  width: 290px;
  margin: 5px;  
  border-radius: 5px;
  border-color: bisque;
}
#boton-publicar{
  font-family: Forum;
text-align: center;
font-size: 16px;
line-height: 16px;
margin: 10px;
cursor: pointer;
width: 108px;
height: 22px;
color: rgb(0, 0, 0);
background-color: #e09dff;
border-radius: 8px;
border-color: bisque;
top: 20px;
box-shadow: 2px 2px rgb(88, 88, 88);
}

p.parrafoPublicaciones{
  font-family: Forum;
  color: rgb(0, 0, 0);
  font-size: medium;
  text-align:center;
  background-color: #e9b9ff;
  border-radius: 8px;
  border: 1.96px solid #FFFFFF;
box-sizing: border-box;
  margin: 30px;  
  line-height: 40px;
  position:relative;
  
  
}
/*registro*/
#divRegistro{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #FBEBDB;
}
#titulo{
  position: relative;
  font-family: Forum;
  font-style: normal;

  font-size: 36px;
  line-height: 40px;  
  color: #000000;
} 
#formRegistro{
 
    top: -30px;
    position: relative;
    width: 250px;
    height: 320px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: #eadaf3;
    border-radius: 9px;
    margin: 20px;
    padding: 11px 8px;
    border-radius: 10px;
    align-items: center;
    font-family: Forum;
  }
  

#nombreRegistro{
  font-family: Forum;
  position: relative;
  background-color:rgb(255, 255, 255);
  height: 20px;
  margin: 14px;
  border-radius: 5px;
  border-color: bisque;

}
#c-electronico{
  font-family: Forum;
  position:relative;
  background-color:rgb(255, 255, 255);
  height: 20px;
  margin: 14px;
  border-radius: 5px;
  border-color: bisque;
}
.contraseña{
  font-family: Forum;
  position: relative;
  background-color:rgb(255, 255, 255);
  height: 20px;
  margin: 14px;
  border-radius: 5px;
  border-color: bisque;
  position: -webkit-sticky;
position: sticky;
top: 20px;

}
#boton-crear-cuenta{
  font-family: Forum;
  font-size: 16px;
  line-height: 16px;
  margin: 10px;
  cursor: pointer;
  border-color: bisque;
  color: rgb(0, 0, 0);  
  background-color: #e09dff;
  border-radius: 3px;
  box-shadow: 2px 2px rgb(88, 88, 88);
} 

.git{
  font-family: Forum;
  width: 100px;
  margin: 8px;
  cursor: pointer;
}

#homeImagen{
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  
}
#git{
  margin: 10px;
  max-width:50%;
  max-height:50%;
  box-shadow: 2px 2px rgb(88, 88, 88);
  cursor: pointer;
}
#google{
  margin: 10px;
  max-width:50%;
  box-shadow: 2px 2px rgb(88, 88, 88);
  cursor: pointer;
}

#boton-salir{
  font-family: Forum;
  align-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  margin: 10px;
  cursor: pointer;
  color: rgb(88, 88, 88);
  position:absolute;
  background-color: #e09dff;
  border-radius: 8px;
  border-color: bisque;
  bottom: 3px;
  box-shadow: 2px 2px rgb(88, 88, 88);
  
}
#registrate{
  font-family: Ruda;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 22px;
color: #000000;
font-family: Forum;
}
